@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins&family=Raleway:wght@100;500&family=Roboto:wght@100;400&family=Young+Serif&display=swap');

body {
    background: rgb(4, 4, 4);
    background: linear-gradient(100deg, rgb(0, 0, 0)50%, rgb(71, 61, 5) 100%);
    display: flex;
    flex-direction: column;
}

header {
    width: 1440px;
    height: 889px;
    flex-shrink: 0;
    background: url(./img/Maskgroup.png);
    margin: 0 auto;

}

.text-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    text-decoration: none;
    margin-top: 45px;
    margin-left: 120px;
}

.text-block p {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first-list:nth-of-type(1) {
    margin-left: 372px;
}

.first-list a {
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    gap: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button {
    margin-left: 54px;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 209px;
    height: 48px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);
}

.cash {
    margin-left: 120px;
    margin-top: 77px;
    width: 806px;
    height: 417px;
    flex-shrink: 0;

}

.cash p {
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cash h1 {
    margin-top: -25px;
    color: #FFF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.circle-order {
    display: flex;
}

.circle {
    width: 205px;
    height: 205px;
    background: var(--yeallow-brand-color, #FC0);
    border-radius: 205px;
    display: flex;
    margin-top: 39px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.cash-text:nth-of-type(1) {
    position: absolute;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 63.896px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cash-text:nth-of-type(2) {
    margin-top: 72px;
    position: absolute;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 31.948px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first-order {
    width: 324px;
    height: 231px;
    position: static;
    color: #FFF;
    margin-left: 231px;
    margin-top: 26px;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cash-button {
    width: 209px;
    height: 48px;
    flex-shrink: 0;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    background: var(--yeallow-brand-color, #FC0);
    margin-top: 12px;
    margin-left: 0px;
    position: relative;
}

.white-block {
    height: 200px;
    background: #fff;
    width: 1440px;
    margin: 0 auto;
    margin-top: -155px;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.top-food {
    background: var(--white-secondery-color, #FFF);
    width: 1440px;
    height: 650px;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: -1;
    margin-top: -40px;
}

.top-text {
    margin-top: 22px;
    color: var(--yeallow-brand-color, #FC0);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    line-height: normal;
}

.top-text-sec {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-top: -20px;
}

.card-food {
    display: flex;
    flex-direction: row;
}

.card {
    width: 277px;
    height: 502px;
    flex-shrink: 0;
    margin-top: -35px;
    margin-left: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.card:nth-of-type(1) {
    margin-left: 120px;
    background: url(./img/004.png);
}

.card:nth-of-type(2) {
    background: url(./img/003.png);
}

.card:nth-of-type(3) {
    background: url(./img/002.png);
}

.card:nth-of-type(4) {
    background: url(./img/001.png);
}

.card-text {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 84px;
    position: absolute;
}

.card-text-sec {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 55px;
    position: absolute;
}

.order {
    width: 1440px;
    height: 400px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.order-card {
    width: 380px;
    height: 400px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-left: 30px;
}

.order-card img {
    width: 115px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 115px;
    margin-bottom: 42px;
}

.order-card-text {
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
}

.order-card-text-sec {
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
}

.order-card-third {
    width: 380px;
    color: var(--white-secondery-color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 22px;
    margin-bottom: 59px;
}

.order-card:nth-of-type(1) {
    margin-left: 120px;
}

.outlets {
    background: var(--white-semi-white, #F5F5F5);
    width: 1440px;
    height: 820px;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: -1;
    margin-top: -40px;
}

.outlets-text {
    margin-top: 76px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    line-height: normal;
}

.outlets-text-first {
    color: var(--yeallow-brand-color, #FC0);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.outlets-text-sec {
    color: var(--black-font-color, #231900);
    text-align: center;
    font-family: Poppins;
    margin-top: -3px;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.outlets-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -15px;
    flex-wrap: wrap;
    gap: 29px;
}

.otlcrd {
    width: 380px;
    height: 563px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.otlcrd img {
    width: 380px;
    height: 440px;
    flex-shrink: 0;
}

.svg-otlcrd {
    width: 20.427px;
    height: 32.875px;
    flex-shrink: 0;
    margin-top: 20px;
}

.text-otlcrd {
    width: 380px;
    color: var(--black-font-color, #231900);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pzzdel {
    background: var(--white-secondery-color, #FFF);
    width: 1440px;
    height: 820px;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
}

.mainpzzdel {
    background: var(--white-secondery-color, #FFF);
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.pzzdel-text {
    width: 135px;
    height: 27px;
    color: var(--yeallow-brand-color, #FC0);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 108px 0 0 128px;
    align-self: flex-start;
}

.start-today {
    width: 525px;
    height: 83px;
    margin: 0 0 0 120px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: flex-start;
}

.yellowstick {
    width: 175px;
    height: 5px;
    background: #FC0;
    margin: 16px 0 0 120px;
}

.pzzdel-need {
    width: 585px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 16px 0 0 120px;
}

.pzzdel-need-sec {
    width: 585px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 16px 0 0 120px;
}

.pzzdel-cards {
    width: 584px;
    height: 270px;
    margin: 41px 0 0 120px;
    display: flex;
}

.pzzdel-first {
    display: flex;
    flex-direction: column;
    width: 277px;
    height: 270px;
    flex-shrink: 0;
    background: var(--white-secondery-color, #FFF);
}

.img-first {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background: url(./img/Rectangle4591.jpg), lightgray 50% / contain no-repeat;
    margin-top: 16px;
}

.pzzdel-firsttext {
    width: 277px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 19px 0 0 0;
}

.pzzdel-sectext {
    width: 277px;
    height: 71px;
    flex-shrink: 0;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 8px 0 0 0;
}

.pzzdel-sec {
    display: flex;
    flex-direction: column;
    width: 277px;
    height: 270px;
    flex-shrink: 0;
    background: var(--white-secondery-color, #FFF);
    margin: 0 0 0 30px;
}

.img-sec {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background: url(./img/Rectangle4592.jpg), lightgray 50% / contain no-repeat;
    margin-top: 16px;
}

.pzzdel-secfrsttext {
    width: 277px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 19px 0 0 0;
}

.pzzdel-secsectext {
    width: 277px;
    height: 71px;
    flex-shrink: 0;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 8px 0 0 0;
}

.pzzdel-img {
    width: 585px;
    height: 585px;
    flex-shrink: 0;
    border-radius: 585px;
    background: url(./img/Ellipse1177.jpg), lightgray 50% / cover no-repeat;
    margin: 108px 120px 0 30px;
}

.team {
    background: var(--white-secondery-color, #FFF);
    width: 1440px;
    height: 820px;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teammebmers {
    color: var(--yeallow-brand-color, #FC0);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.meetteam {
    color: #000;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 3px 0 0 0;
}

.yellowsticksec {
    width: 205px;
    height: 5px;
    background: #FC0;
    margin: 25px 0 0 0;
}

.card-team {
    display: flex;
    flex-wrap: wrap;
    margin: 84px 0 0 120px;
    gap: 30px;
}

.cardteamfrst {
    display: flex;
    flex-direction: column;
    width: 277px;
    height: 466px;
    flex-shrink: 0;
}

.cardimgfrst {
    width: 277px;
    height: 350px;
    flex-shrink: 0;
    background: url(./img/Rectangle4595.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.teamtextfrst {
    width: 277px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 37px 0 0 0;
}

.teamsmalltextfrst {
    width: 161.701px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 13px 0 0 0;
}

.cardteamsec {
    display: flex;
    flex-direction: column;
    width: 277px;
    height: 466px;
    flex-shrink: 0;
}

.cardimgsec {
    width: 277px;
    height: 350px;
    flex-shrink: 0;
    background: url(./img/Rectangle4596.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.teamtextsec {
    width: 277px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 37px 0 0 0;
}

.teamsmalltextsec {
    width: 161.701px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 13px 0 0 0;
}

.cardteamthird {
    display: flex;
    flex-direction: column;
    width: 277px;
    height: 466px;
    flex-shrink: 0;
}

.cardimgthird {
    width: 277px;
    height: 350px;
    flex-shrink: 0;
    background: url(./img/Rectangle4597.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.teamtextthird {
    width: 277px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 37px 0 0 0;
}

.teamsmalltextthird {
    width: 161.701px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 13px 0 0 0;
}

.cardteamfour {
    display: flex;
    flex-direction: column;
    width: 277px;
    height: 466px;
    flex-shrink: 0;
}

.cardimgfour {
    width: 277px;
    height: 350px;
    flex-shrink: 0;
    background: url(./img/Rectangle4598.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.teamtextfour {
    width: 277px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 37px 0 0 0;
}

.teamsmalltextfour {
    width: 161.701px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 13px 0 0 0;
}

.ads {
    background: linear-gradient(91deg, #FC0 17.25%, rgba(234, 231, 222, 0.936) 178.38%);
    width: 1440px;
    height: 734px;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
}

.appdiscount {
    display: flex;
    flex-direction: column;
}

.adsdiscount {
    width: 584px;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 201px 0 0 121px;
}

.adsapp {
    width: 584px;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 32px 0 0 121px;
}

.imgapps {
    display: flex;
    margin: 73px 0 0 121px;
    flex-wrap: wrap;
    gap: 12px;
}

.frstapps {
    width: 176px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(./img/Rectangle4580.jpg), lightgray 50% / contain no-repeat;
}

.secapps {
    width: 176px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(./img/Rectangle4581.jpg), lightgray 50% / contain no-repeat;
}

.mainimgads {
    width: 585px;
    height: 534px;
    flex-shrink: 0;
    background: url(./img/mobileimage.png), rgba(211, 211, 211, 0) 50% / contain no-repeat;
    margin: 65px 0 0 30px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 1440px;
    height: 350px;
    flex-shrink: 0;
    background: var(--white-secondery-color, #FFF);
    margin:0 auto;
    justify-content: center;
    align-items: center;
}
.compfrst{
    width: 277px;
height: 200px;
flex-shrink: 0;
background: url(./img/Rectangle4600.png), rgba(211, 211, 211, 0) 50% / contain no-repeat;
}
.compsec{
    width: 277px;
height: 200px;
flex-shrink: 0;
background: url(./img/Rectangle4601.png), rgba(211, 211, 211, 0) 50% / contain no-repeat;
}
.compthird{
    width: 277px;
height: 200px;
flex-shrink: 0;
background: url(./img/Rectangle4602.png), rgba(211, 211, 211, 0) 50% / contain no-repeat;
}
.compfour{
    width: 277px;
height: 200px;
flex-shrink: 0;
background: url(./img/Rectangle4603.png), rgba(211, 211, 211, 0) 50% / contain no-repeat;
}
footer{
    width: 1440px;
    height: 586px;
    flex-shrink: 0;
    margin:0 auto;
    background: var(--white-secondery-color, #FFF);
}